{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
     <script src="{% static 'js/calendar.js' %}"></script>
    <title>child_history</title>

</head>
<body>
    <div class="area">
        {% for child in histry %}

            {% if forloop.counter == 1 %}
                <input type="radio" name="tab_name" id='tab1' checked>
                <label class="tab_class" for='tab1'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar({{ child.4 }});
                        {% endautoescape %}
                    </script>
                </div>

            {% elif forloop.counter == 2 %}
                <input type="radio" name="tab_name" id='tab2' checked>
                <label class="tab_class" for='tab2'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar2"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar2({{ child.4 }});
                        {% endautoescape %}
                    </script>
                </div>

            {% elif forloop.counter == 3 %}
                <input type="radio" name="tab_name" id='tab3' checked>
                <label class="tab_class" for='tab3'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar3"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar3({{ child.4 }});
                        {% endautoescape %}
                    </script>
                </div>

            {% elif forloop.counter == 4 %}
                <input type="radio" name="tab_name" id='tab4' checked>
                <label class="tab_class" for='tab4'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar4"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar4({{ child.4 }});
                        {% endautoescape %}
                    </script>
                </div>

            {% elif forloop.counter == 5 %}
                <input type="radio" name="tab_name" id='tab5' checked>
                <label class="tab_class" for='tab5'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar5"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar5({{ child.4 }});
                        {% endautoescape %}
                    </script>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    <div id="modal"></div>
    <div id="mask"></div>
</body>
</html>