{% extends "base.html" %}
{% load static %}
{% block title %}こどもーおてつだいリスト{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<link rel="stylesheet" media="(min-width: 600px)" href="{% static 'css/chtaskliststyle_web.css' %}">
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block link %}

                <li><a href="{% url 'child_tasklist' %}">おてつだいをする！</a></li>
                <li><a href="{% url 'certification' %}">おやページへ</a></li>
                <li><a href="{% url 'logout' %}">ログアウト</a></li>
{% endblock%}


{% block h2 %}がんばりをみよう！{% endblock %}
{% block main %}


    <div class="area">
        {% for child in histry %}

            {% if forloop.counter == 1 %}
                <input type="radio" name="tab_name" id='tab1' checked>
                <label class="tab_class" for='tab1'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar({{ child.4 }}, {{ child.5 }}, {{ child.6}});
                        {% endautoescape %}
                    </script>
                    <form method="post">
                        <button name="key" value="-,0,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">前の月</button>
                        <button name="key" value="+,0,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">次の月</button>
                    </form>
                </div>

            {% elif forloop.counter == 2 %}
                <input type="radio" name="tab_name" id='tab2'>
                <label class="tab_class" for='tab2'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar2"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar2({{ child.4 }}, {{ child.5 }}, {{ child.6}});
                        {% endautoescape %}
                    </script>
                    <form method="post">
                        <button name="key" value="-,1,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">前の月</button>
                        <button name="key" value="+,1,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">次の月</button>
                    </form>
                </div>

            {% elif forloop.counter == 3 %}
                <input type="radio" name="tab_name" id='tab3' checked>
                <label class="tab_class" for='tab3'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar3"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar3({{ child.4 }}, {{ child.5 }}, {{ child.6}});
                        {% endautoescape %}
                    </script>
                    <form method="post">
                        <button name="key" value="-,2,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">前の月</button>
                        <button name="key" value="+,2,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">次の月</button>
                    </form>
                </div>

            {% elif forloop.counter == 4 %}
                <input type="radio" name="tab_name" id='tab4' checked>
                <label class="tab_class" for='tab4'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar4"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar4({{ child.4 }}, {{ child.5 }}, {{ child.6}});
                        {% endautoescape %}
                    </script>
                    <form method="post">
                        <button name="key" value="-,3,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">前の月</button>
                        <button name="key" value="+,3,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">次の月</button>
                    </form>
                </div>

            {% elif forloop.counter == 5 %}
                <input type="radio" name="tab_name" id='tab5' checked>
                <label class="tab_class" for='tab5'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar5"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar5({{ child.4 }}, {{ child.5 }}, {{ child.6}});
                        {% endautoescape %}
                    </script>
                    <form method="post">
                        <button name="key" value="-,4,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">前の月</button>
                        <button name="key" value="+,4,{{ child.5 }}-{{ child.6 }},{{ child.7 }}">次の月</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    <div id="modal"></div>
    <div id="mask"></div>

{% endblock %}