{% extends "base.html" %}
{% load static %}
{% block title %}こどもーおてつだいリスト{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<link rel="stylesheet" media="(min-width: 600px)" href="{% static 'css/chtaskliststyle_web.css' %}">
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block link %}

                <li><a href="{% url 'child_tasklist' %}">おてつだいをする！</a></li>
                <li><a href="{% url 'certification' %}">おやページへ</a></li>
{% endblock%}


{% block h2 %}がんばりをみよう！{% endblock %}
{% block main %}


    <div class="area">
        {% for child in histry %}

            {% if forloop.counter == 1 %}
                <input type="radio" name="tab_name" id='tab1' checked>
                <label class="tab_class" for='tab1'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">

                    <div id="calendar"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar({{ child.4 }}, {{ child.5 }}, {{ child.6}}, {{ child.7 }});
                        {% endautoescape %}
                    </script>


                </div>

            {% elif forloop.counter == 2 %}
                <input type="radio" name="tab_name" id='tab2'>
                <label class="tab_class" for='tab2'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar2"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar2({{ child.4 }}, {{ child.5 }}, {{ child.6}}, {{ child.7 }});
                        {% endautoescape %}
                    </script>
                </div>

            {% elif forloop.counter == 3 %}
                <input type="radio" name="tab_name" id='tab3'>
                <label class="tab_class" for='tab3'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar3"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar3({{ child.4 }}, {{ child.5 }}, {{ child.6}}, {{ child.7 }});
                        {% endautoescape %}
                    </script>
                </div>

            {% elif forloop.counter == 4 %}
                <input type="radio" name="tab_name" id='tab4'>
                <label class="tab_class" for='tab4'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar4"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar4({{ child.4 }}, {{ child.5 }}, {{ child.6}}, {{ child.7 }});
                        {% endautoescape %}
                    </script>
                </div>

            {% elif forloop.counter == 5 %}
                <input type="radio" name="tab_name" id='tab5'>
                <label class="tab_class" for='tab5'>{{ child.0 }}</label>
                <!--タブのコンテンツ-->
                <div class="content_class">
                    <div id="calendar5"></div>
                    <script>
                        {% autoescape off %}
                            createCalendar5({{ child.4 }}, {{ child.5 }}, {{ child.6}}, {{ child.7 }});
                        {% endautoescape %}
                    </script>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    <div id="modal"></div>
    <div id="mask"　onclick="window.close_modal();"></div>

{% endblock %}



{% block footer%}

        <a class="item-demo">
        <div class="box">
            <img src="{% static 'img/box.gif' %}" style="width:100px;">
        </div>
        </a>

        <div class="popup-demo">
            <div class="popup-content content-demo">
            <div class="ofitem">
                <img src="{% static 'img/box2.gif' %}" id="boxanime">

                    {% for child in histry %}
                    {% if forloop.counter == 1 %}
                <div class="point1">
                    <div class="point_item">
                    <img src="{% static 'img/box_open.png' %}" id="boxopen">
                    </div>
                    <div class="point_item" id="child_point1">
                        <p>こんげつのポイントは<br>
                            <b>{{child.1}}ポイント！！</b>
                        </p>
                        <p>これまでのぜんぶのポイントは<br>
                            <b>{{child.2}}ポイント！！</b>
                        </p>
                    </div></div>

                    {% elif forloop.counter == 2 %}
                    <div class="point2">
                    <div class="point_item">
                    <img src="{% static 'img/box_open.png' %}" id="boxopen">
                    </div>
                    <div class="point_item" id="child_point2">
                        <p>こんげつのポイントは<br>
                            <b>{{child.1}}ポイント！！</b>
                        </p>
                        <p>これまでのぜんぶのポイントは<br>
                            <b>{{child.2}}ポイント！！</b>
                        </p>
                    </div></div>

                    {% elif forloop.counter == 3 %}
                        <div class="point3">
                    <div class="point_item">
                    <img src="{% static 'img/box_open.png' %}" id="boxopen">
                    </div>
                    <div class="point_item" id="child_point3">
                        <p>こんげつのポイントは<br>
                            <b>{{child.1}}ポイント！！</b>
                        </p>
                        <p>これまでのぜんぶのポイントは<br>
                            <b>{{child.2}}ポイント！！</b>
                        </p>
                    </div>
                        </div>
                    {% elif forloop.counter == 4 %}
                        <div class="point4">
                    <div class="point_item">
                    <img src="{% static 'img/box_open.png' %}" id="boxopen">
                    </div>
                    <div class="point_item" id="child_point4">
                        <p>こんげつのポイントは
                            <br><b>{{child.1}}ポイント！！</b>
                        </p>
                        <p>これまでのぜんぶのポイントは
                            <br><b>{{child.2}}ポイント！！</b>
                        </p>
                    </div></div>
                    {% elif forloop.counter == 5 %}
                        <div class="point5">
                    <div class="point_item">
                    <img src="{% static 'img/box_open.png' %}" id="boxopen">
                    </div>
                    <div class="point_item" id="child_point5">
                        <p>こんげつのポイントは<br>
                            <b>{{child.1}}ポイント！！</b>
                        </p>
                        <p>これまでのぜんぶのポイントは<br>
                            <b>{{child.2}}ポイント！！</b>
                        </p>
                    </div></div>
                    {% endif %}
                    {% endfor %}
            </div>
            <i class="close far fa-times-circle"></i>
            </div><!-- /popup-content -->
        </div><!-- /popup-demo -->

{% endblock %}

{% block script%}




$(function() {
console.log(change);

var url = location.href;
    if (url.length >= 37) {
        var get_class = url.slice(-1);
    } else {
        var get_class = '1';
    }
var change = '.point' + String(get_class);


$('.item-demo').on('click',function(){
    $('.popup-demo').addClass('popup-show').fadeIn();
    $('#boxanime').fadeIn();
    $(change).removeClass('point_show');
});
$('.close').on('click',function(){
    $('.popup-demo').fadeOut();
});
$('#boxanime').on('click',function(){
    $('#boxanime').fadeOut();
    setTimeout(function(){
        $(change).addClass('point_show').fadeIn();
    },1000);

});
});

{% endblock %}