{% extends "parent_base.html" %}
{% block main %}
    <head>
        <title>お手伝いの編集</title>
    </head>

    <h1 class="page_name">お手伝いの編集</h1>

    <div class="tasklist_form">
        <form action="" method="post">
            {% csrf_token %}

            <p><label for="title_input" class="form_lead">お手伝い名</label></p>
            <p><input type="text" name="job_name" id="title_input" value="{{ housework.job_name }}"></p>

            <div>
                <button type="submit" class="send_btn">更新</button>
                <a href="{% url 'parent_tasklist' %}" class="back_btn">編集の取りやめ</a>
            </div>

        </form>
    </div>

{% endblock %}