{% extends "parent_base.html" %}
{% block main %}
    <head>
        <title>こどもの管理</title>
    </head>

    <h1 class="page_name">こどもの管理</h1>

    <form method="POST" class="tasklist_form">
        {% csrf_token %}
               {% for field in form %}
                <p>依頼する日を選択してください</p>
                    {{ field }}
                {% endfor %}
        <div>
            <button type="submit" class="send_btn">送信</button>
            <a href="{% url 'parent_userslist' %}" class="back_btn">追加をやめる</a>
        </div>
    </form>


{% endblock %}