{% extends "parent_base.html" %}

{% block head %}
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js%22%3E</script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js%22%3E</script>
{% endblock %}

{% block main %}
    <head>
        <title>お手伝い項目一覧</title>
    </head>

    <h1 class="page_name">お手伝い項目一覧</h1>

    <div class="tasklist_form">
        <div style="text-align: center; margin-bottom: 30px;">
            <a href="{% url 'addwork' %}" class="add_task">お手伝いの追加</a>
        </div>

        {% for task in tasks %}
            {{ task }}
                <a href="{% url 'parent_taskregister' task.pk %}">編集</a>
            <!--ポップアップつき削除-->
                <a data-toggle="modal" data-target="#sampleA">削除</a>
            <!--ボタンバージョン-->
        <!--    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sampleA">削除</button>-->
            <!-- モーダルダイアログ -->
                <div class="modal fade" id="sampleA" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                <h4 class="modal-title"></h4>
                            </div>

                            <div class="modal-body">
                                 本当に削除しますか？
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'parent_task_delete' task.pk %}'">削除</button>
                            </div>

                        </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                </div><!-- modal fade -->
            </br>
        {% endfor %}
    </div>
{% endblock %}