{% extends "parent_base.html" %}
{% block main %}
    <head>
        <title>こどもの追加</title>
    </head>

    <h1 class="page_name">こどもの追加</h1>

    <form method="POST" class="edit_form">
        <div>
            {% csrf_token %}
            {% for field in form %}
                    <p class="edit_lead">-名前を入力してください-</p>
                    <p class="edit_lead2">子供の名前</p>
                    <div class="cp_iptxt">{{ field }}</div>
                    {% endfor %}
            <div class="end_btn">
                <button type="submit" class="send_btn">　　追加　　</button>
                <a href="{% url 'parent_userslist' %}" class="back_btn">追加をやめる</a>
            </div>
        </div>
    </form>



{% endblock %}