{% extends "parent_base.html" %}
{% block head %}
<!--        モーダルダイアログ用-->
        <!-- jQuery JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script>
            var column = 0;
            $(function () {
              "use strict";
              $('.task-check').click(function () {
                //data-columns(child.pk)を取得
                column=$(this).attr('data-columns')
                console.log(column);
              });
            });
            function jump(){
                console.log(column);
                location.href='/parent_users_delete/' + column + '/'
            }
        </script>
{% endblock %}
{% block main %}
    <head>
        <title>ユーザー管理</title>
    </head>

    <h1 class="page_name">ユーザー管理</h1>

    <div class="users">
        {% for child in children %}
            <div class="user">
                <p style="font-weight:bold; font-size:25px; color: #707070;">{{ child }}</p>
                <p class="hover user_edit"><a href="{% url 'parent_usersedit' child.pk %}">編集</a></p>
                <!--                class名(task-check)変更しないでください。-->
                <p class="hover delete"><a class="task-check" data-toggle="modal" data-target="#sampleA" data-columns="{{ child.pk }}">削除</a></p>
            </div>
            <!--ポップアップつき削除-->
            <!-- モーダルダイアログ -->
                <div class="bootstrap">
                    <div class="modal fade" id="sampleA" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title"></h4>
                                </div>

                                <div class="modal-body" style="text-align: center;">
                                     本当に削除しますか？
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                    <button type="button" class="btn back_btn" onclick="jump()">削除</button>
                                </div>

                            </div><!-- modal-content -->
                        </div><!-- modal-dialog -->
                    </div><!-- modal fade -->
                </div>

        {% endfor %}
    </div>



    <div style="text-align: center;">
        <p><a href="{% url 'parent_usersmanage' %}" class="add_task">子供の追加</a></p>
    </div>

{% endblock %}