{% extends "parent_base.html" %}
{% block main %}
    <head>
        <title>ユーザーの編集</title>
    </head>

    <h1 class="page_name">ユーザーの編集</h1>

    <form action="" method="post" class="tasklist_form">
        {% csrf_token %}
        <p><label for="title_input" class="form_lead">子供の名前</label></p>
        <p><input type="text" name="name" id="title_input" value="{{ child.name }}"></p>

        <div>
            <button type="submit" class="send_btn">更新</button>
            <a href="{% url 'parent_userslist' %}" class="back_btn">編集の取りやめ</a>
        </div>


    </form>
{% endblock %}