body{
	/*background-color:#add8e6;*/
	background-color:#BEEBED;
	color:#000;
	display:flex;
    flex-direction: column;
    min-height: 100vh;
}
/*footer固定のため*/
.content{
display:flex;
flex-wrap: wrap;
flex-flow: column;
align-items: center;
justify-content: center;

min-height:80vh;
}
/*header*/
nav{
	background:white;
}

ul{
margin-bottom:0px;
}

.main-nav {
min-height:12vh;
display: flex;
align-items: center;
justify-content: space-around;
align-content: center;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav a {
  display:inline-block;
  margin:0px 25px;
  border-radius: 5px;
  background: #fa8072;
  color: #fff;
  padding: 30px;
  text-decoration: none;
}

.main-nav .logo {
	background: none;
	color:#000;
}
.main-nav .hello {
	background: none;
	color:#000;
}

/*header終了*/

/*フォーム*/
.login {
	width:40vw;
	margin:0 auto;
	background-color: #fff;
}

.login__form {
  border-radius: 1.25em;
  color: #777;
  display: grid;
  gap: 0.875em;
  padding: 1.25em 1.625em;
  width: 100%;
}

.login input {
  border-radius: 0.1875em;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"],
.login input[type ="number"]{
  background-color: #eee;
  color: #777;
  padding: 0.25em 0.625em;
  width: 100%;
}

.login input[type="submit"] {
  display: block;
  margin: 0 auto;
}

input {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

/*form終了*/

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;
	/*min-height:55vh;*/
	margin:0 auto;
	display: flex;
	align-items: center;
	padding-top:0px;
	padding-bottom:0px;
}


.tasklist
{
	margin:0 auto;
	width:80vw;
}


.wrapper{
    position: relative;/*←相対位置*/
    padding-bottom: 30px 0px;/*←footerの高さ*/
	box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
	/*margin:[(100 - height)/2]vh 0;*/
}

footer{
	/*position: absolute;/*←絶対位置*/
    /*bottom: 0; /*下に固定*/
	/*background-color: #8fbc8f;*/
	background-color: #B0D69F;
	 margin-top: auto;
}



/*スライドショー */

.slider{
    margin: 0px auto;
	width: 30vw;
	background:gray;
	text-align:center;
}
.slider .ele{
    height: 150px;
    width: 150px;
    border: solid 1px black;
    text-align: center;
    margin-left: 20%;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

/*.tab-area {
	display: flex;
	justify-content: space-around;
	background-color: #222e3e;
	cursor: pointer;
}
.tab-area .tab {
  width: 300px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  border-right: 1px solid #50637b;
  border-left: 1px solid #222e3e;
}
.tab-area .tab.active {
  background-color: #ccc;
  color: #222e3e;
  border: none;
}

.content-area {
  font-size: 30px;
  text-align: center;
}
.content-area .content {
  display: none;
}
.content-area .content.show {
  margin-top: 50px;
  display: block;
}

.tabbody{
	width=500px;
}*/

.tab_container {
  padding-bottom: 1em;
  background-color: #fff;
  border:1px solid #37beb0;
  margin: 0 auto;}
.tab_item {
  width: calc(100%/4);
  padding:15px 0;
  border-bottom: 3px solid #37beb0 ;
  background-color: #ececec;
  text-align: center;
  color: #37beb0 ;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}
input[name="tab_item"] {
  display: none;
}
.tab_content {
  display: none;
  padding: 1em 1em 0;
  clear: both;
  overflow: hidden;
}
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content,
#tab4:checked ~ #tab4_content {
  display: block;
}
.tab_container input:checked + .tab_item {
  background-color: #37beb0 ;
  color: #fff;
}

.grass{
background-color: #B0D69F;
height :5vh;
}

.hiyoko{
position:fixed;
bottom:0;
z-index:6;
}
.background{
    background-color:none;
}