/*画面サイズが600px以下のスタイル*/

.login {
	width:72vw;
}

nav{
    font-size:10pt;
}

.main-nav a {
  margin: 25px 5px;
  border-radius: 5px;
  background: #fa8072;
  color: #fff;
  display: block;
  padding: 5px;
  text-decoration: none;
}

.main-nav .hello {
    display:none;
}

main{
margin:0 10px;
}
