html {
    font-family:  "游ゴシック体", "Yu Gothic", YuGothic;
    font-size:1vw;
        white-space: nowrap;
}

button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.header_wrap  a {
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    white-space: nowrap;
}

.header_wrap  a:hover{
    color: #000;
}

.body_wrap{
    background-color: #BEEBED;
    margin: 0px;
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    box-sizing: border-box;
}

.header_wrap {
    display: flex;
    align-items: center;
/*    padding-top: 20px;*/
    list-style: none;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    min-width: 100vh;
    min-height: 12vh;

}

.footer_wrap{
    background-color: #B0D69F;
    width: 100%;
    height: 8vh;
    position: absolute;/* ←絶対位置 */
    bottom: 0;
    display: flex;
}

.footer_wrap a{
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    white-space: nowrap;
}
.footer_wrap  a:hover{
    color: #e9457a;
}

.nav_wrapper {
    list-style: none;
    display: flex;
    justify-content: right;
    margin:0px;
}

.nav_wrapper a{
    font-size:17px;
}

.nav__item{
    padding: 0px 40px;
}

.header_start{
    padding: 0px 40px;
}

.header_middle{
    padding-top:3vh;
/*    padding-left: 50px;*/
}

.header_end{
    padding: 0px 40px;
    padding-top:3vh;
    margin-left: auto;
}

.header_end a{
    font-weight: bold;
    color: #707070;
    background-color: #ffe897;
    border-radius: 0.5rem;
    padding: 10px 30px;
}
.header_end a:hover{
    color: #000;
    background-color: #f2c714;
}

.footer_end{
    padding-top:3vh;
    margin-left: auto;
}

.footer_start{
    padding-top:3vh;
}

.assign_form{
    background-color: #fff;
    padding: 40px 60px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.assign_form p{
    margin-top: 40px;
}

.tasklist_form{
    background-color: #fff;
    padding: 40px 60px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.assign_form textarea{
    width: 100%;
}

.page_name{
    text-align: center;
    color: #707070;
}

.task_table{
    display: flex;
    border-bottom: solid 1px #B0D69F;
    margin-top: 0px;       /* 上線の外側の余白はナシ */
    padding-top: 0px;      /* 上線の内側の余白はナシ */
    margin-bottom: 0.3em;/* 下線の外側の余白量 */
    padding-bottom: 0.3em; /* 下線の内側の余白量 */
}

.users_form{
    background-color: #fff;
    padding: 20px;
    margin: 50px 50px;
    border: thin solid #000;
    width: 10%;
}

.form_lead{
    margin-bottom: 5px;
    font-weight: bold;
    font-size:2.5vh;
    color:#707070;
}

.form_list{
    margin-left: 20px;
    margin-bottom: 20px;
}

.send_btn{
    font-weight: bold;
    font-size:1vw;
    color: #707070;
    background-color: #A5D6FF;
    border-radius: 0.5rem;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    border:none;
        white-space: nowrap;
}

.send_btn:hover {
    color: #303030;
    background: #7DC4FF;
    text-decoration: none;
}

.add_task{
    text-decoration: none;
    font-weight: bold;
    font-size:1vw;
    color: #707070;
    background-color: #A5D6FF;
    border-radius: 0.5rem;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
}

.add_task:hover {
    color: #303030;
    background: #7DC4FF;
    text-decoration: none;
}

/*ボタンタグの初期化*/
/*button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}*/

.back_btn{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #ed7fa3;
    border-radius: 0.5rem;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 8em
    cursor: pointer;
        white-space: nowrap;
}
.back_btn:hover {
    color: #fff;
    background: #ef2868;
}

.user{
    background-color: #fff;
    height:150px;
    width:200px;
    border-radius:45%;
    margin: 50px;
    text-align:center;
}

.user p{
    margin-top: 50px;
}

.user a{
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    border: thin solid #707070;
    padding: 1px 3px;
}

.users{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.task{
    margin-left: auto;
}

.task a{
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    border: thin solid #707070;
    padding: 1px 3px;
}

.hover{
    display: none;
}
/* ホバー時に、ホバー時の文字を表示する */
.user:hover .hover{
    display: inline;
}
.user:hover{
    background-color: #d8d8d8;
}

.main_wrap{
    position: relative;/*←相対位置*/
/*    padding-top: 12vh;*//*←headerの高さ*/
    padding-bottom: 12vh;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.user_edit a:hover{
    color:#000;
    background-color:#fff;
}

.task_edit a:hover{
    color:#000;
    background-color:#d8d8d8;
}

.delete a:hover{
    color:#fff;
    background: #e9457a;
}

.task_approval{
    text-decoration: none;
    font-weight: bold;
    font-size:1vw;
    color: #fff;
    background-color: #ffb443;
    border-radius: 0.5rem;
    padding: 5px 15px;
    text-align: right;
}

.task_approval:hover {
    background: #ff9900;
    text-decoration: none;
}

.updated_datetime{　/*日付の装飾*/

}
.approval_list{
    margin-left: 20px;
    margin-bottom:20px;
}

.approval_child{
    font-weight:bold;
    font-size:2.5vh;
    color:#707070;
    /*margin-bottom:1vh;*/
}

.approval_table{
    display: flex;
    border-bottom: solid 1px #B0D69F;
    margin-top: 0px;       /* 上線の外側の余白はナシ */
    padding-top: 0.3em;      /* 上線の内側の余白はナシ */
    /*   margin-bottom: 0.3em; */ /* 下線の外側の余白量 */
    padding-bottom: 0.3em; /* 下線の内側の余白量 */
}

.cp_iptxt {
/*大きさ*/
	width: 100%;
	margin: 5px 0px;
}

.cp_iptxt input[type=text] {
	font: bold 15px/24px YuGothic;
	box-sizing: border-box;
	width: 100%;
/*	margin: 8px 0;*/
	padding: 1px 2px;
/*	transition: 0.3s;*/
	border: 1px solid #707070;
	border-radius: 4px;
	outline: none;
}
/*.cp_iptxt input[type=text]:focus {
	border: 2px solid #000;
	outline: none;
}*/
/*.cp_iptxt input[type=text] {
	padding-left: 40px;
}*/
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
/*.cp_iptxt input[type=text]:focus + i {
	color: #da3c41;
}*/

.edit_form{
    background-color: #fff;
    padding: 40px 60px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.edit_lead{
    margin:0px;
    font-weight:bold;
    color:#707070;
}
.edit_lead2{
    margin:0px;
    font-weight:bold;
    color:#000;
    background-color:#ecedf2;
    padding: 0px 10px;
    margin-top:10px;
}

.end_btn{
    margin-top:30px;
    display: flex;
    justify-content: center;
}

.cp_point input{
/*大きさ*/
	width: 15%;
	height:40px;
	margin: 5px 0px;
	font-size:1.25vw;
}

/*
.cp_point i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}*/
#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.assgin_comp{
    width:300px;
    height:200px;
    position:absolute;
    left:65%;
    top:22%;
    margin-left:-150px;
    margin-top:-100px;
}

.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #BEEBED;
  border-radius: 15px;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #BEEBED;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

