.loginbox
{
    /* Scroll horizontally as needed */
    overflow-x: auto;
	min-height:60vh;
	margin:0 auto;
	display: flex;
	align-items: center;
}
.login {
	width:40vw;
	margin:0 auto;
	background-color: #fff;
}

.login__form {
  border-radius: 1.25em;
  color: #777;
  display: grid;
  gap: 0.875em;
  padding: 1.25em 1.625em;
  width: 100%;
}

.login input {
  border-radius: 0.1875em;
}


.login input[type="password"] {
  background-color: #eee;
  color: #777;
  padding: 0.25em 0.625em;
  width: 100%;
}

.login input[type="submit"] {
  display: block;
  margin: 0 auto;
}

input {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

