<form method="post" class="login__form">
    {% csrf_token %}
    {% for field in form %}
            <p>
                {% if field.label == "認証コード(数字4桁)" %}
                    <label>{{ field.label }}</label>
                    <br><span>※親ページ遷移の際に使用します</span>
                    {{ field }}
                {% else %}
                    <label>{{ field.label }}</label>

                    {{ field }}
                {% endif %}
            </p>
            {% endfor %}
    <!--{{ form.as_p }}-->
    <input type="submit" class="btn btn-warning"　value="{{ submit_label }}" />
</form>