{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/parent.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% block head %}
        {% endblock %}
    </head>

    <body class="body_wrap">

        <div class="header_wrap">
            <div class="header_start">
                <h3>プロダクト名</h3>
            </div>

            <div class="header_middle">
                <nav class="nav">
                    <ul class="nav_wrapper">
                        <li class="nav__item"><a href="{% url 'parent_assign' %}">お手伝い依頼</a></li>
                        <li class="nav__item"><a href="{% url 'parent_tasklist' %}">お手伝い項目一覧</a></li>
                        <li class="nav__item"><a href="{% url 'parent_userslist' %}">ユーザー管理</a></li>
                        <li class="nav__item"><a href="{% url 'parent_approval' %}">承認待ちタスク</a></li>
                    </ul>
                </nav>
            </div>

            <div class="header_end">
                <a class="button" href="{% url 'child_tasklist' %}">こどもページ</a>
            </div>
        </div>

        <div class="main_wrap">
            {% block main %}
            <p>※コンテンツがありません。</p>
            {% endblock %}
        </div>

        <div class="footer_wrap">
            <nav class="nav">
                <ul class="nav_wrapper">
                    <li class="nav__item"><a href="{% url 'password_change' %}">パスワードの変更</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}">ログアウト</a></li>
                </ul>
            </nav>
        </div>

    </body>
</html>