{% extends "parent_base.html" %}
{% block main %}
{% csrf_token %}
 <head>
        <title>お手伝いの追加</title>
 </head>

    <h1 class="page_name">お手伝いの追加</h1>

    <form action = "{% url 'addwork'%}" method="POST" class="tasklist_form">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit" class="send_btn">追加</button>
            <a href="{% url 'parent_tasklist' %}" class="back_btn">追加をやめる</a>
        </div>
    </form>

    <p>{{ name }}</p>
    <p>{{ point }}</p>

{% endblock %}