{% extends "parent_base.html" %}
{% block main %}
{% csrf_token %}
 <head>
        <title>お手伝いの追加</title>
 </head>

    <h1 class="page_name">お手伝いの追加</h1>

    <form action = "{% url 'addwork'%}" method="POST" class="tasklist_form">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label == '名前' %}
                    <p>名前を入力してください</p>
                        {{ field }}
            {% elif field.label == 'ポイント' %}
                    <p>ポイントを入力してください</p>
                        {{ field }}
            {% endif %}
        {% endfor %}
        <div>
            <button type="submit" class="send_btn">送信</button>
            <a href="{% url 'parent_tasklist' %}" class="back_btn">追加をやめる</a>
        </div>
    </form>

    <p>{{ name }}</p>
    <p>{{ point }}</p>

{% endblock %}