{% load static %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <script src="{% static 'js/calendar.js' %}" defer></script>
</head>
<body>
{% csrf_token %}
<h2>子どもページ</h2>
<p>{{ user }}さん、こんにちは！</p>

<p><a href="{% url 'logout' %}">ログアウト</a></p>
<a href="{% url 'certification' %}">親ページ</a>
<a href="{% url 'child_history' %}">カレンダー</a>
<a href="{% url 'child_test' %}">改良版</a>
<main>
    <div class="area">
        {% for child in children %}

            {% if forloop.counter == 1 %}
                <input type="radio" name="tab_name" id='tab1' checked>
                <label class="tab_class" for='tab1'>{{ child.0 }}</label>
                <div class="content_class">
                   {% for task in child.1 %}
                       <a class="open_modal" onclick="window.open({{ task.id }});">{{ task.work }}</a>
                    {% endfor%}
                     {% for comment in child.2 %}
                        {{ comment.comment }}
                    {% endfor %}
                </div>

            {% elif forloop.counter == 2 %}
                <input type="radio" name="tab_name" id='tab2' checked>
                <label class="tab_class" for='tab2'>{{ child.0 }}</label>
                <div class="content_class">
                   {% for task in child.1 %}
                       <a class="open_modal" onclick="window.open({{ task.id }});">{{ task.work }}</a>
                    {% endfor%}
                     {% for comment in child.2 %}
                        {{ comment.comment }}
                    {% endfor %}
                </div>

            {% elif forloop.counter == 3 %}
                <input type="radio" name="tab_name" id='tab3' checked>
                <label class="tab_class" for='tab3'>{{ child.0 }}</label>
                <div class="content_class">
                   {% for task in child.1 %}
                       <a class="open_modal" onclick="window.open({{ task.id }});">{{ task.work }}</a>
                    {% endfor%}
                     {% for comment in child.2 %}
                        {{ comment.comment }}
                    {% endfor %}
                </div>

            {% elif forloop.counter == 4 %}
                <input type="radio" name="tab_name" id='tab4' checked>
                <label class="tab_class" for='tab4'>{{ child.0 }}</label>
                <div class="content_class">
                   {% for task in child.1 %}
                       <a class="open_modal" onclick="window.open({{ task.id }});">{{ task.work }}</a>
                    {% endfor%}
                     {% for comment in child.2 %}
                        {{ comment.comment }}
                    {% endfor %}
                </div>

            {% elif forloop.counter == 5 %}
                <input type="radio" name="tab_name" id='tab5' checked>
                <label class="tab_class" for='tab5'>{{ child.0 }}</label>
                <div class="content_class">
                   {% for task in child.1 %}
                       <a class="open_modal" onclick="window.open({{ task.id }});">{{ task.work }}</a>
                    {% endfor%}
                     {% for comment in child.2 %}
                        {{ comment.comment }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

        {% csrf_token %}
        <div id="modal"></div>
        <div id="mask"></div>
</main>
</body>
</html>
