{% extends "base.html" %}
{% load static %}
{% block title %}こどもーおてつだいリスト{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" media="(min-width: 600px)" href="{% static 'css/chtaskliststyle_web.css' %}">
<script src="{% static 'js/script.js' %}" defer></script>

{% endblock %}

{% block link %}

                <li><a href="{% url 'child_history' %}">がんばりをみる</a></li>
                <li><a href="{% url 'certification' %}">おやページへ</a></li>

{% endblock %}

{% block h2 %}おてつだいをしよう！{% endblock %}


{% block main %}


{% csrf_token %}

    <div class="area">
        {% for child in children %}

            {% if forloop.counter == 1 %}
                <input type="radio" name="tab_name" id='tab1' checked>
                <label class="tab_class" for='tab1'>{{ child.0 }}</label>

                <div class="content_class">
                <div class="nakami">

                    <div class ="comment">
                            <div class="balloon1-right">
                                 {% for comment in child.2 %}
                                <p>{{ comment.comment }}</p>
                                {% endfor %}
                            </div>
                            <img src="static/img/icon.PNG" style="width:100px;">
                        </div>

                    <div class="tasks">
                    {% for task in child.1 %}

                        <div class="task" onclick="window.open({{ task.id }},'tab1');">
                            <div class="taskContent">
                                <a class="open_modal">{{ task.work }}</a><br>


                                <!--{% if id == "お片付け" %}
                            <img src="static/img/katduke.png" style="width:100px;">
                            {% elif id == "お皿洗い" %}
                            <img src="static/img/osaraarai.png" style="width:100px;">
                            {% elif id == "お洗濯"%}
                            <img src="static/img/sentaku.png" style="width:100px;">
                            {% else %}
                                <img src="static/img/osaraarai.png" style="width:100px;">
                            {% endif %}-->

                            </div>
                        </div>
                    {% endfor%}
                    </div>
                </div>
                </div>

            {% elif forloop.counter == 2 %}
                <input type="radio" name="tab_name" id='tab2'>
                <label class="tab_class" for='tab2'>{{ child.0 }}</label>
                <div class="content_class">
                    <div class="nakami">
                        <div class ="comment">
                            <div class="balloon1-right">
                                <p>こんにちは。これは例です。</p>
                            </div>
                            <img src="static/img/icon.PNG" style="width:100px;">
                        </div>

                    <div class="tasks">
                   {% for task in child.1 %}

                         <div class="task" onclick="window.open({{ task.id }},'tab2');">
                            <div class="taskContent">
                                <a class="open_modal">{{ task.work }}</a>

                            </div>
                         </div>
                    {% endfor%}
                    </div>
                    </div>
                </div>

            {% elif forloop.counter == 3 %}
                <input type="radio" name="tab_name" id='tab3' >
                <label class="tab_class" for='tab3'>{{ child.0 }}</label>
                <div class="content_class">
                    <div class="nakami">
                        <div class ="comment">
                            <div class="balloon1-right">
                                <p>こんにちは。これは例です。</p>
                            </div>
                            <img src="static/img/icon.PNG" style="width:100px;">
                        </div>
                    <div class="tasks">

                   {% for task in child.1 %}

                        <div class="task" onclick="window.open({{ task.id }},'tab3');">
                            <div class="taskContent">
                       <a class="open_modal">{{ task.work }}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                </div>

            {% elif forloop.counter == 4 %}

                <input type="radio" name="tab_name" id='tab4'>
                <label class="tab_class" for='tab4'>{{ child.0 }}</label>


                <div class="content_class">
                    <div class="nakami">
                        <div class ="comment">
                            <div class="balloon1-right">
                                <p>こんにちは。これは例です。</p>
                            </div>
                            <img src="static/img/icon.PNG" style="width:100px;">
                        </div>
                    <div class="tasks">
                   {% for task in child.1 %}

                        <div class="task" onclick="window.open({{ task.id }},'tab4');">
                            <div class="taskContent">
                       <a class="open_modal">{{ task.work }}</a>

                            </div>
                        </div>
                    {% endfor%}
                    </div>
                </div>
                </div>

            {% elif forloop.counter == 5 %}
                <input type="radio" name="tab_name" id='tab5'>
                <label class="tab_class" for='tab5'>{{ child.0 }}</label>
                <div class="content_class">
                    <div class="nakami">
                        <div class ="comment">
                            <div class="balloon1-right">
                                <p>こんにちは。これは例です。</p>
                            </div>
                            <img src="static/img/icon.PNG" style="width:100px;">
                        </div>
                    <div class="tasks">
                   {% for task in child.1 %}

                        <div class="task" onclick="window.open({{ task.id }},'tqab5');">
                            <div class="taskContent">
                                <a class="open_modal">{{ task.work }}</a>

                            </div>
                        </div>
                    {% endfor%}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
                </div>
    </div>


        {% csrf_token %}

        <div id="modal"></div>
        <div id="mask"></div>
{% endblock %}


 </div>
