{% extends "base.html" %}
{% load static %}
{% block title %}サインアップ{% endblock %}

{% block link %}
<li><a href="{% url 'login' %}">ログイン</a></li>
<li><a href="{% url 'signup' %}">サインアップ</a></li>
{% endblock %}

{% block main %}
	<div class="login">

		{% include "_form.html" with submit_label="登録" %}

		<!--<form action="#" class="login__form" method="POST">
			<div>
				<label for="email">メールアドレス</label><br>
				<input type="text" id="parent_name" name="parent_name" placeholder="日本太郎">
			</div>

					<div>
						<label for="password">アカウントパスワード</label><br>
						<input type="password" id="password" name="password" placeholder="password">
					</div>

					<div>
						<input class="btn btn-warning" type="submit" value="登録">
					</div>


				</form>-->

	</div>

{% endblock %}